<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.css')}}">
    <!-- <link rel="stylesheet" href="/static/owl.carousel.min.css"> -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">

    <!-- Style -->


    <title>Snap-Track</title>
</head>

<body>


    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="{{url_for('home')}}" class="text-white mb-0">Snap Track</a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a href="{{url_for('home')}}"><span>Home </span></a></li>
                            <!-- <a href="/" onclick="loadContent('home')">Home</a> -->
                            <li><a href="{{url_for('attendance')}}"><span>Attendance</span></a></li>
                            <li><a href="{{ url_for('user_profile')}}"><span>Profiles</span></a></li>
                            <!-- <a href="/user/1" onclick="loadContent('user_profile', 1)">Profiles</a> -->
                            <li class="has-children">
                                <a href="#"><span>More</span></a>
                                <ul class="dropdown arrow-top">
                                    <li><a href="{{url_for('update_profile')}}">Add or remove subject</a></li>
                                    <li><a href="#">Upload Attendance sheet</a></li>
                                    <li class="has-children">
                                        <a href="#">Download Excel</a>
                                        <ul class="dropdown">
                                            {% for file in files %}
                                            <li><a
                                                    href="{{ url_for('download_file', filename=file, file_suffix=file_suffix) }}">{{
                                                    file }}</a></li>
                                            {% endfor %}

                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">Settings</a>
                                        <ul class="dropdown">
                                            <li><a href="{{url_for('change_password')}}">Change password</a></li>
                                            <li><a href="#">??</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li><a href="logout"><span>Log out</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- <a href="/" onclick="loadContent('home')">Home</a> -->
                <!-- <a href="/user/1" onclick="loadContent('user_profile', 1)">Profiles</a> -->

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                        href="#" class="site-menu-toggle js-menu-toggle text-white"><span
                            class="icon-menu h3"></span></a></div>

            </div>

        </div>
        </div>

    </header>

    <div class="hero" style="background-image: url('/static/images/img.jpeg');">
        <div class="text5">
            Hey, {{session.username}}!!<br><br>
            Welcome to Snap-Track
        </div>

    </div>




    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js.js') }}"></script>

    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='jquery.sticky.js') }}"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script> -->
</body>

</html>